body {
    background-color: gold;
  }
      
  
  h2 {
    color: green;
    font-style: italic;
  }
  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: crimson;
    text-align: center;
    font-size: large;
    font-weight: bold;
  }
  ul, li{
    line-height: 40px;
    font-size: large;
  }
  
      
  
  